# How to structure this config file: Decide what you want your flag to be for a given AI colaborator, 
# then follow it with a semicollen then the standard command to call that AI peer. For example:
# Flag:Command

# Some examples are included below. Uncomment them to use them. 
# Note: You must install an AI agent to use it, this application does not come with them.

#-g:gemini
#-G:GPT-cli
#-e:makulu-ai
#-o:ollama run llama3
